
@{
    ViewBag.Title = "FacebookPost";
}

<h2>FacebookPost</h2>

@using(Html.BeginForm())
{ 
    <fieldset>
        <div class="editor-field">
            <textarea name="txtMessage"></textarea>
        </div>
            <p>
                <input type="submit" value="Post" />
            </p>

    </fieldset>
}